<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<div>
  <% if @videos %>
    <% @videos.each do |video| %>
      <p><%=link_to video.title, video %></p>
      <% if video.description %>
        <p>This video has been described</p>
      <% end %>
    <% end %>
  <% else %>
    <strong>You haven't uploaded any videos!</strong>
  <% end %>
</div>
