body {
  background-color: #344152;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
}

#title {
  font-size: 34px;
}

a:link{
  color: white;
  padding-left: 10px;
  padding-right: 5px;
}

a:visited {
  color: white;
}

nav {
  text-align: justify;
}